#detail-container-0 {
    margin: 0 auto;
    width: 100%;
}

.detail-container-image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 12px 16px 0 16px;
}

.image {
    border-radius: var(--radius-300);
    width: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.01); /* Увеличение изображения для скрытия краев */
}

.detail-container-1 {
    /* max-width: 600px; */
    display: grid;
    padding: 16px 16px 132px 16px;
    gap: 12px;
}

.detail-block1, .detail-block2, .detail-block3, .detail-block4, .detail-block5{
    background-color: var(--01-layer-1);
}

.detail-block1 {
    display: flex;
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: var(--radius-300);
}

.detail-block1-title {
    color: var(--02-content-primary);
    font-family: var(--font-primary);
    font-size: var(--module-500);
    font-weight: var(--fw-bold);
    line-height: var(--module-600);
}

.detail-block1-subtitle {
    color: var(--02-content-secondary);
    font-family: var(--font-secondary);
    font-size: var(--module-400);
    font-weight: var(--fw-regular);
    line-height: var(--module-500);
}

.detail-block2-title,
.detail-block3-title,
.detail-block4-title,
.detail-block5-title {
    color: var(--02-content-primary);
    font-family: var(--font-primary);
    font-size: var(--module-400);
    font-weight: var(--fw-bold);
    line-height: var(--module-600);
}

.detail-block2 {
    display: flex;
    padding: 12px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: 12px 36px 12px 12px;
}

.detail-block2-title {
    padding: 0 16px;
}

.detail-block2-list {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.detail-block2-list-item {
    padding: 4px 8px;
    border-radius: var(--radius-200);
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.detail-block2-list-item:hover {
    background: var(--05-layer-neutral-soft-hover);
}

.detail-block2-list-item:active {
    background: var(--05-layer-neutral-soft-pressed);
}

.detail-block2-list-link {
    flex: 1 0 0;
    color: var(--02-content-secondary);
    font-family: var(--font-secondary);
    font-size: var(--module-400);
    font-weight: var(--fw-regular);
    line-height: var(--module-500);
}

.detail-block2-list-icon {
color: var(--02-content-secondary);
font-size: var(--module-400);
}

.detail-block3,
.detail-block4,
.detail-block5 {
    display: flex;
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: var(--radius-300);
}

.detail-block3-list {

}

.detail-block3-author {
    color: var(--02-content-secondary);
    font-family: var(--font-secondary);
    font-size: var(--module-400);
    font-weight: var(--fw-regular);
    line-height: var(--module-500);
}

.detail-block4-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.detail-block4-list-row {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    color: var(--02-content-secondary);
    font-family: var(--font-secondary);
    font-size: var(--module-400);
    font-weight: var(--fw-regular);
    line-height: var(--module-500);
}

.detail-block5-summary {
    color: var(--02-content-secondary);
    font-family: var(--font-secondary);
    font-size: var(--module-400);
    font-weight: var(--fw-regular);
    line-height: var(--module-500);
}

.detail-footer {
    display: flex;
    position: fixed;
    z-index: 100;
    left: 16px;
    right: 16px;
    bottom: 16px;
    justify-content: center;
}

.detail-footer-container-1 {
    display: inline-block;
    display: flex;
    padding: 12px;
    align-items: flex-start;
    gap: 36px;

    background: var(--01-layer-blur);
    border: 1px solid var(--04-border-on-layer-2);
    border-radius: var(--radius-full);
    backdrop-filter: blur(12px);
}

.detail-footer-container-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    flex: 1 0 0;
}

@media (max-width: 767px) {
    .detail-container-image {
        padding: 0;
        height: 240px;
    }

    .image {
        border-radius: var(--radius-0);
    }
}