/* Drawer */

.drawer {
  position: fixed;
  top: 64px; /* высота хедера */
  left: 0;
  right: 0;
  background: var(--01-layer-background);
  /* backdrop-filter: blur(24px); */
  border-radius: 0 0 24px 24px;
  border-bottom: 1px solid var(--04-border-on-layer-2);
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
  transition: top 0.3s ease; /* Анимация опускания */
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(50vh - 64px); /* Высота 50% экрана минус хедер */
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #4300fd;
  z-index: 10; /* Ниже хедера */
  top: -100%; /* drawer скрыт по умолчанию */
}

.drawer.open {
  top: 64px; /* Положение, когда шторка открыта */
}

.header-button-close {
  display: none;
}
