/* === Header styles === */

main {
  padding-top: 84px;
}

.header-0 {
display: flex;
padding: 16px 16px 16px 16px;
align-items: flex-start;
gap: 20px;
align-self: stretch;
background: rgba(255, 255, 255, 0.10);
backdrop-filter: blur(12px);
align-items: center;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 100;
width: 100%;
overflow: hidden;
text-overflow: ellipsis;
}

.header-1 {
display: flex;
align-items: center;
gap: 4px;
flex: 1 0 0;
}

.header-logo {
width: 36px;
height: 36px;
}

.header-title {
color: var(--02-Content-content-primary, #0A0B0F);
font-family: "Playfair Display";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: var(--module-600, 24px); /* 150% */
}

.header-button {
 display: flex;
 justify-content: center; /* Центрирование по горизонтали */
 align-items: center; /* Центрирование по вертикали */
width: 36px;
height: 36px;
border: none;
background: none;
padding: 0;
cursor: pointer;
}

.header-button:hover {
border-radius:12px;
background: rgba(29, 13, 255, 0.19);
}

.header-button:active {
border-radius: var(--Radius-radius-300, 12px);
background: var(--06-Themes-Violet-theme-violet-layer-soft-pressed, rgba(22, 1, 255, 0.24));
/* ⤵ inner/XS */
box-shadow: var(--08-Shadow-Inner-XS-1-x, 0) var(--08-Shadow-Inner-XS-1-y, 1px) var(--08-Shadow-Inner-XS-1-blur, 2px) var(--08-Shadow-Inner-XS-1-spread, 0) var(--08-Shadow-Inner-XS-1-color, rgba(22, 33, 88, 0.09)) inset;
}
