/* === Header styles === */

.header-0 {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  padding: 16px;
  /* align-items: flex-start; */
  gap: 8px;
  align-self: stretch;
  /* background: var(--01-layer-blur); */
  /* backdrop-filter: blur(12px); */
  align-items: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 80;
}

.header-wrap {
  display: flex;
  flex: 1;
}

.header-1 {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 4px;
}

.header-1:hover {
  .header-logo {
  transform: rotate(360deg);
  transition: transform 0.4s ease-in-out;
  }
}

.header-logo {
  width: 36px;
  height: 36px;
  overflow: hidden;
}

.header-title {
  color: var(--02-content-primary);
  font-family: var(--font-primary);
  font-size: var(--module-400);
  font-weight: var(--fw-bold);
  line-height: var(--module-600);
}

.icon-burger svg, .icon-close svg {
  fill: var(--06-theme-violet-content);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-close {
  display: none;
}

.drawer-open .icon-burger {
  display: none;
}

.drawer-open .icon-close {
  display: inline;
}

/* Переключение темы */
.icon-night svg, .icon-day svg {
  fill: var(--06-theme-violet-content);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-night {
  display: none;
}

